<!-- <div class="container my-3">
    <form #DeleteForm="ngForm" (ngSubmit)="userDelete(loginForm.value)">
        <!-- <input class="form-control" [(ngModel)]="UserLogin.Login" name="email" id="email" placeholder="Enter Email"
            ngModel required email #name="ngModel"> -->
        <!-- <div class="text-danger addmergin">
            <span *ngIf="name.invalid && name.touched"> Required filed </span>
        </div> -->
        <!-- <input class="form-control addmergin" [(ngModel)]="UserLogin.Password" type="text" #password="ngModel" name="Password" id="Password"
            placeholder="Enter Password" ngModel required minlength="8"> -->
            <!-- <div class="text-danger addmergin">
                <span *ngIf="password.invalid && password.touched"> Please Enter Password</span>
            </div> -->
            <!-- <div *ngFor="let user as userList"> 
                <table class="table table-success table-striped">
                    <thead>
                      <tr>
                        <th scope="col">S. NO.</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Name</td>
                        <td>Name</td>
                        <td>Name</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>LAst NAme</td>
                        <td>nton</td>
                        <td>Last </td>
                      </tr >
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div> -->
        <!-- <button type="submit" class="btn btn-outline-success" [disabled]="loginForm.invalid">Submit</button> -->
    <!-- </form>
</div> -->