<!-- <p>todos works! this is my component createed by me </p> -->
<!-- <ul *ngFor="ket todo of todos"> -->
<!-- <li>{{todo.sno}}</li>  {{todo.sno}} - {{todo.title}} - {{todo.desc}} -->
<!-- {{console.log("this is demo")}} -->
<div class="container">
    <h1 class="text-center mb-2">This is First Todo Angular Application.</h1>
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    <h4>Your Todos</h4>
    <div *ngIf="this.todos.length===0; else elseBlock"> No Todos to display</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos index as i">
            <app-todos-list [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)"
                (todoCheckBox)="toggelTodo($event)"></app-todos-list>
        </div>
    </ng-template>
</div>